// bower:scss
// endbower

@import 'bower_components/sanitize-css/sanitize.scss';

body {
  background: #fafafa;
  font-family: "メイリオ", "ＭＳ Ｐゴシック",'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  color: #333;
  font-size: 16px;
}

header{
  clear: both;
  overflow: hidden;
  padding: 10px 30px;
  h1.logo{
    float: left;
    a{
      font-size: 200%;
    }
  }
  nav{
    float: right;
    ul{
      clear: both;
      overflow: hidden;
      li{
        float: left;
        margin-right: 30px;
      }
    }
  }
}

main{

}

footer{
  text-align: center;
}

#top{
  text-align: center;
  .intro{

  }
}
